{% extends 'base.html' %}

{% block titulo %} Galeria {% endblock %}

{% block contenido %}
    
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Fotografias</h1>
            <p class="lead text-muted">Con la danza como universo del baile se expresan sentimientos y emociones culturales. En tal sentido, la danza es una de las artes más humanas, pues en ella se unen el espíritu y el cuerpo al servicio de la belleza corporal, de la salud, de la inteligencia y el conocimiento.</p>
              {% comment %} <a href="#" class="btn btn-primary my-2">الدعوة الرئيسية للعمل</a>
              <a href="#" class="btn btn-secondary my-2">عمل ثانوي</a> {% endcomment %} 
          </div>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="box-shadow: 0 20px 15px #9b7468";>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://picsum.photos/id/237/250" alt="" class="bd-placeholder-img card-img-top" width="250" height="250">
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="https://picsum.photos/id/238/250" alt="" class="bd-placeholder-img card-img-top" width="250" height="250">
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="https://picsum.photos/id/239/250" alt="" class="bd-placeholder-img card-img-top" width="250" height="250">
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://picsum.photos/id/240/250" alt="" class="bd-placeholder-img card-img-top" width="250" height="250">
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="https://picsum.photos/id/241/250" alt="" class="bd-placeholder-img card-img-top" width="250" height="250">
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="https://picsum.photos/id/242/250" alt="" class="bd-placeholder-img card-img-top" width="250" height="250">
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://picsum.photos/id/243/250" alt="" class="bd-placeholder-img card-img-top" width="250" height="250">
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="https://picsum.photos/id/244/250" alt="" class="bd-placeholder-img card-img-top" width="250" height="250">
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="https://picsum.photos/id/222/250" alt="" class="bd-placeholder-img card-img-top" width="250" height="250">
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="https://picsum.photos/id/223/250" alt="" class="bd-placeholder-img card-img-top" width="250" height="250">
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="https://picsum.photos/id/227/250" alt="" class="bd-placeholder-img card-img-top" width="250" height="250">
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="https://picsum.photos/id/225/250" alt="" class="bd-placeholder-img card-img-top" width="250" height="250">
              </div>
            </div>
      
    
    {% block javascrip %}
        <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% endblock javascrip %}

{%  endblock %}