{% extends 'base.html' %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}

<section class="py-5 text-center banner">
  <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto p-5">
          <h1 class="fw-bold h1-banner">Academia de baile</h1>
          <p class="lead text-banner">Te damos las gracias por habernos elegido, entra y disfruta del mundo del baile, de tu mundo.</p>
          <p>
          <a href="#" class="btn btn-primary my-2">Ver más</a>
          </p>
      </div>
  </div>
</section>

{% comment %}
<div class="text-center" style="padding: 5rem;" >
  <h1 class="display-5 fw-bold" ><span>Academia de baile</span></h1>
  <div class="col-lg-6 mx-auto">
    <p class=" mb-4">Te damos las gracias por habernos elegido, entra y disfruta del mundo del baile, de tu mundo.</p>
    {% endcomment %}
    {% comment %} <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3"></button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
    </div> {% endcomment %}
  {% comment %}
  </div>
</div>
{% endcomment %}



<div class="container marketing" style="background-color: #000;" style="box-shadow: 0 20px 15px #9b7468">
  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7" >
      <h2 class="featurette-heading text-center pt-5">Jazz</h2>
      <p class="lead pt-3" >Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
    </div>
    <div class="col-md-5">
      {% load static %}
      <div style="box-shadow: 0 20px 15px #9b7468;">
        <img src="{% static 'img/jazz.jpeg' %}" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect>
      </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-4 pt-5">
      <h2 class="featurette-heading text-center">Danza Clasica</h2>
      <p class="lead pt-3">El ballet (del italiano balletto, diminutivo de ballo; en español baile), danza académica o danza clásica, es una forma concreta de danza y también el nombre de la técnica correspondiente. Según las épocas, los países o las corrientes y el espectáculo, esta expresión artística puede incluir: danza, mímica, y teatro (de orquesta y coral), personas y maquinaria.</p>
    </div >
    <div class="col-md-5 order-md-1">
      {% load static %}
      <div style="box-shadow: 0 20px 15px #9b7468;">
        <img src="{% static 'img/clasico.jpeg' %}" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect>
      </div>
      {% comment %} <svg  xmlns="http://www.w3.org/2000/svg" </svg> {% endcomment %}

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 pt-5">
      <h2 class="featurette-heading text-center">Danza Española</h2>
      <p class="lead pt-3">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
    </div>
    <div class="col-md-5">
      {% load static %}
      <div style="box-shadow: 0 20px 15px #9b7468;">
        <img src="{% static 'img/española.jpeg' %}" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect>
      </div>
  </div>
</div>
  {%  endblock %}  
</body>
</html>